[Unit]
Description=Run Pronote Automation every 15 minutes
Requires=pronote.service

[Timer]
# Run every 15 minutes with up to 60 seconds of random jitter
OnCalendar=*:0/15
RandomizedDelaySec=60
# Catch up if the system was off
Persistent=true
Unit=pronote.service

[Install]
WantedBy=timers.target
